# Python
*.pyc
__pycache__/
venv/
env/
*.env
.env.local
.env.*.local
*.sqlite3
*.py[cod]
*.bak
*.swp
*~

# C++
*.o
*.out
*.exe
*.dll
*.so
*.dylib

# Compiled source
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
###################
# It's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases
###################
*.log
*.sql
*.sqlite

# Virtual Environments
###################
# If you are working with Python, uncomment the next line
# venv/
# If you are working with virtualenv, uncomment the next line
# env/
# If you are working with pipenv, uncomment the next line
# .venv/
# .env/

# IDEs and Editors
###################
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
